* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  height: 100%;
  background-color: #312e38;
  -webkit-font-smoothisng: antialiased;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

h1 {
  font-size: 33px;
  color: white;
  margin-bottom: 8px;
}

header {
  padding: 20px 0px;
  width: 100%;
  height: 100px;
  background-color: #434246;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  width: 80px;
}
