* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  height: 100%;
  background-color: #312e38;
  -webkit-font-smoothisng: antialiased;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

h1 {
  font-size: 33px;
  color: white;
  margin-bottom: 8px;
}

header {
  padding: 20px 10px;
  width: 100%;
  height: 100px;
  background-color: #434246;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#sair {
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  width: 80px;
  border-radius: 20px;
  border: 0;
  background-color: #ec930e;
}

section {
  height: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image_user {
  margin-bottom: 20px;
}

img {
  width: 186px;
  height: 186px;
  border-radius: 50%;
}

label {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#avatar {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  padding: 12px;
  height: 420px;
  width: 320px;
  margin-top: 10px;
}

#name {
  height: 40px;
  padding-left: 9px;
  margin-bottom: 10px;
  background-color: #312e38;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  font-size: 16px;
}

#email {
  height: 40px;
  padding-left: 9px;
  margin-bottom: 10px;
  background-color: #312e38;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  font-size: 16px;
}

#old_password {
  height: 40px;
  padding-left: 9px;
  margin-bottom: 10px;
  background-color: #312e38;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  font-size: 16px;
}

#new_password {
  height: 40px;
  padding-left: 9px;
  margin-bottom: 10px;
  background-color: #312e38;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  font-size: 16px;
}

#password_confirmation {
  height: 40px;
  padding-left: 9px;
  margin-bottom: 10px;
  background-color: #312e38;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  font-size: 16px;
}

#update {
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  border: 0;
  border-radius: 20px;
  background-color: #ec930e;
}

#name::placeholder,
#email::placeholder,
#old_password::placeholder,
#new_password::placeholder,
#password_confirmation::placeholder {
  color: #fff;
}

#name:focus,
#email:focus,
#old_password:focus,
#new_password:focus,
#password_confirmation:focus {
  border-color: #ec930e;
}
